{% extends "index.html" %}
{% block title %}Crear Reset{% endblock %} 
{% block content %}


<div class="contenedorGenerico">
    <h1>Id del reset a crear: {{idReset}}</h1>
    <form method="POST" class="formularioReset" action="{{url_for('creandoReset', idReset=idReset)}}" autocomplete="off">
        <!--contenedor horizontal 1-->
        <div class="contenedorSuperior">
            <div class="contenedorCalendario">
                <label for="fechaInicio">Fecha Inicio</label>
                <input type="date" name="fechaInicio" id="fechaInicio" required>
            </div>
            <div class="contenedorCalendario">
                <input type="checkbox" name="checkFechaFin" id="checkFechaFin" value="1">
                <label for="fechaFin">Fecha Fin</label>
                <input type="date" name="fechaFin" id="fechaFin" >
            </div>
        </div>
        <div class="contenedorInferior">
            <div>
                <label for="cantidadEquipos">Cantidad de equipos:</label>
                <input type="number" name="cantidadEquipos" id="cantidadEquipos" onkeydown="return false" min="1" max = 25 value="0">
            </div>
            <div>
                <input type="checkbox" name="presupuestoGeneralCheck" id="presupuestoGeneralCheck" onclick='checkPresupuesto(this)'>
                <label for="presupuestoGeneral">Presupuesto General:</label>
                <input type="number" name="presupuestoGeneral" id="presupuestoGeneral" placeholder="Presupuesto" >
            </div>            
            
        </div>
        <table id="tablaCreacionEquipo">
            <tbody id="cuerpoTablaCreacionEquipos" name="cuerpoTablaCreacionEquipos">       
                                                            
                <tr>
                    <td>
                        <input type="button" value="+" id="btnAgregarEquipo" name="btnAgregarEquipo" onclick='agregarEquipos(({{listaTecnicos | tojson}}))'>
                        <input type="button" value="-" id="btnAgregarEquipo" name="btnAgregarEquipo" onclick="eliminarEquipos()">
                    </td>                    
                </tr>          
            </tbody>
        
        </table>

        <input type="submit" value="Crear Reset">
    </form>
    <script>
        window.onload = (agregarEquipos(({{listaTecnicos | tojson}})));        
    </script>  
</div>


{% endblock %}