{% extends "index.html" %}
{% block title %}Crear Reset{% endblock %} 
{% block content %}
<div class="contenedorGenerico">
    <h1>Reset {{"inserte id reset"}}</h1>
    <form method="POST" class="formularioReset">
        <!--contenedor horizontal 1-->
        <div class="contenedorSuperior">
            <div class="contenedorCalendario">
                <label for="fechaInicio">Fecha Inicio</label>
                <input type="date" name="fechaInicio" id="fechaInicio" required>
            </div>
            <div class="contenedorCalendario">
                <input type="checkbox" name="checkFechaFin" id="checkFechaFin" value="1">
                <label for="fechaFin">Fecha Inicio</label>
                <input type="date" name="fechaFin" id="fechaFin" required>
            </div>
        </div>
        <div class="contenedorInferior">
            <div>
                <label for="cantidadEquipos">Cantidad de equipos:</label>
                <input type="number" name="cantidadEquipos" id="cantidadEquipos" onkeydown="return false" min="1" max = 25 value="1">
            </div>
            <div>
                <input type="checkbox" name="presupuestoGeneral" id="presupuestoGeneral" value="1">
                <label for="presupuestoGeneral">Presupuesto General:</label>
                <input type="number" name="presupuestoGeneral" id="presupuestoGeneral" placeholder="Presupuesto">
            </div>            
            
        </div>
        <table id="tablaCreacionEquipo">
            <tbody>                                
                <tr>
                    <td>1</td>                        
                    <td>                        
                        <input type="text" name="nombreEquipo" id="nombreEquipo" placeholder="Nombre Equipo" required>
                    </td>
                    <td>
                        <input type="file" name="botonSelEscudo" id="botonSelEscudo" value="Subir escudo" accept="image/*">
                    </td>
                    <td>
                        <label for="selectorDT">DT:</label>
                        <select name="selectorDT" id="selectorDT" required>
                            {% for dt in listaTecnicos %}
                            <option value="{{dt[0]}}">{{dt[1]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="presupuestoEquipo" >Presupuesto Equipo:</label>
                        <input type="number" name="presupuestoEquipo" id="presupuestoEquipo" placeholder="Presupuesto" required>
                    </td>                    
                </tr>                
            </tbody>
        </table>

        <input type="submit" value="Crear Reset" href="{{url_for('partidosTemporada', codigo=0)}}">
    </form>

</div>


{% endblock %}