{% extends "index.html" %}
{% block title %}Añadir DT{% endblock %} 

{% block content %}
<div>
    <form autocomplete="off" method="POST" action="{{url_for('registrandoDt')}}">
        <div class="contenedorElementosRegistro">
          <h1 style="padding-bottom: 20px">Registrar DT</h1>
          <div class="contenedorIzquierdoRegistro">
            <div class="elementoIzquierdoRegistro">
              <h3>El id del DT será: {{cantidadTecnicos + 1}}</h3>
            </div>
            <div class="elementoIzquierdoRegistro">
              <input
                type="text"
                id="nombreDt"
                name="nombreDt"
                placeholder="Nombre"
                required="true"
              />
            </div>
            <div class="elementoIzquierdoRegistro">
              <input
                type="text"
                id="apellidoDt"
                name="apellidoDt"
                placeholder="Apellido"
                required="true"
              />
            </div>
            <div class="elementoIzquierdoRegistro">
              <input type="text" id="contrasenaDt" name="contrasenaDt" placeholder="Contraseña" required="true" readonly value="{{contrasena}}"/>
              <a href="{{url_for('registro')}}">Generar</a>
            </div>
          </div>
      
          <div class="contenedorDerechoRegistro">
            <div class="elementoDerechoRegistro">
              <label for="paisNacimiento">País de nacimiento: </label><br />
              <select id="paisNacimiento" name="paisNacimiento" required="true">
                <option value="1">Colombia</option>
                <option value="2">Argentina</option>
                <option value="3">Ecuador</option>
                <option value="4">Venezuela</option>
                <option value="5">Españá</option>
                <option value="6">Republica Dominicana</option>
                <option value="7">Perú</option>
                <option value="8">Uruguay</option>
                <option value="9">Chile</option>
                <option value="10">México</option>
              </select>
            </div>
            <div class="checkboxRegistro">
              <input type="checkbox" id="esAdmin" name="esAdmin" value="admin" />
              <label for="esAdmin">Administrador</label>
            </div>
      
            <div class="checkboxRegistro">
              <input type="checkbox" id="esPropietario" name="esPropietario" value="owner" />
              <label for="esPropietario">Propietario</label>
            </div>
      
            <div class="elementoDerechoRegistro">
              <input type="submit" value="Registrar"/>
            </div>
          </div>
        </div>
      </form>
</div>
{% endblock %}



