{% extends "index.html" %}
{% block title %}Partido{% endblock %}
{% block content %}
<div class="contenedorGenerico">
    {# <form action="{{url_for('editandoPartido', idTemporada=idTemporada)}}" method="POST"> #}
        <div class="contenedorVistaPartido">
            <input type="hidden" value="" name="idPartido">
            <li>
                <ul>
                    <h1>Temporada </h1>

                    <h2>fecha:</h2>
                    <input type="number" name="fechaPartido" placeholder="Fecha del partido" value="">
                    <br>
                    <h2>fase:</h2>
                    <input type="text" name="fasePartido" placeholder="Fase del partido" value="">
                </ul>
            </li>


            <img src="{{ url_for('static', filename='img/logo-lce.png') }}" , id="escudoPartidoLocal" />

            <img src="{{ url_for('static', filename='img/logo-lce.png') }}" , id="escudoPartidoVisitante" />
            <!--CONTENEDOR MARCADOR-->
            <div class="equipoLocal">
                <h3>Equipo Local</h1>
                    <select title="Equipo Local" name="selectorLocal">
                        <option value="0" selected>Seleccione un equipo</option>

                        {% for i in range (0, listaEquipos|count) %}


                        <option value="{{listaEquipos[i].id}}">{{listaEquipos[i].nombre}}</option>

                        {% endfor %}
                    </select>
                    <h3>Dt</h1>
                        <select title="DT equipo local" name="selectorDTLocal">
                            <option value="0" selected>Seleccione un DT</option>
                            {% for i in range (0, listaTecnicos|count) %}


                            <option value="{{listaTecnicos[i].id}}">{{listaTecnicos[i].nombre}}
                                {{listaTecnicos[i].apellido}}</option>

                            {% endfor %}
                        </select>
            </div>
            <div class="marcador">
                <input type="hidden" id="contadorGolesLocal" name="contadorGolesLocal" value="0">
                <input type="hidden" id="contadorGolesVisitante" name="contadorGolesVisitante" value="0">
                <h1 id="marcador">0 - 0</h1>
            </div>
            <div class="equipoVisitante">
                <h3>Equipo Visitante</h1>
                    <select title="Equipo visitante" name="selectorVisitante">

                        <option value="0" selected>Seleccione un equipo</option>

                        {% for i in range (0, listaEquipos|count) %}


                        <option value="{{listaEquipos[i].id}}">{{listaEquipos[i].nombre}}</option>

                        {% endfor %}
                    </select>
                    <h3>Dt</h1>
                        <select title="DT equipo visitante" name="selectorDTVisitante">
                            <option value="0" selected>Seleccione un DT</option>
                            {% for i in range (0, listaTecnicos|count) %}


                            <option value="{{listaTecnicos[i].id}}">{{listaTecnicos[i].nombre}}
                                {{listaTecnicos[i].apellido}}</option>

                            {% endfor %}
                        </select>
            </div>

            <!--CONTENEDOR ESTADISTICAS-->
            <div id="estadisticasLocal">
                <div class="botonesAñadirEstadisticas">
                    <ul>

                        <li><input type="button" onclick="botonGol(true, true)" value="Gol+"></li>
                        <li><input type="button" onclick="botonGol(true, false)" value="Gol-"></li>
                    </ul>

                    <ul>
                        <li><label>Amarillas</label></li>
                        <li><input type="number" name="cantidadAmarillasLocal" class="cajaAmarillas"
                                placeholder="Cantidad amarillas" value="0"></li>
                    </ul>

                    <ul>
                        <li><label>Rojas</label></li>
                        <li><input type="number" name="cantidadRojasLocal" class="cajaRojas"
                                placeholder="Cantidad rojas" value="0"></li>
                    </ul>
                </div>


            </div>

            <!--TODO ARREGLAR LOS SELECTORES DE JUGADORES-->

            <div id="estadisticasVisitante">
                <div class="botonesAñadirEstadisticas">
                    <ul>
                        <li><input type="button" onclick="botonGol(false, true)" value="Gol+"></li>
                        <li><input type="button" onclick="botonGol(false, false)" value="Gol-"></li>
                    </ul>

                    <ul>
                        <li><label>Amarillas</label></li>
                        <li><input type="number" name="cantidadAmarillasVisitante" class="cajaAmarillas"
                                placeholder="Cantidad amarillas" value="0"></li>
                    </ul>

                    <ul>
                        <li><label>Rojas</label></li>
                        <li><input type="number" name="cantidadRojasVisitante" class="cajaRojas"
                                placeholder="Cantidad rojas" value="0"></li>
                    </ul>
                </div>

            </div>

            <input type="submit" class="botonGuardarPartido" value="Guardar partido">
        </div>
        {#
    </form> #}
    <script>
        window.onload = textoTarjetas("cajaAmarillas");
        window.onload = textoTarjetas("cajaRojas");
        {# {% for i in range(0, partido.golesLocal | count) %}
            window.onload = golAlMarcador(true, true);
            {% endfor %} #
        }

        {# {% for i in range(0, partido.golesVisitante | count) %}
            window.onload = golAlMarcador(false, true);
            {% endfor %} #}
        #}

    </script>



</div>

{% endblock %}