{% extends "index.html" %}
{% block title %}Resets{% endblock %} 
{% block content %}

<div class="contenedorGenerico">
    <h1>Resets</h1>
    <table id="tablaContenedorTemporadas">
        <tbody>            
            <tr>                                
                {% for i in range (0, resets|count) %}
                <td>                    
                    <a class='contenedorBotonGenerico' href="{{url_for('reset', idReset=resets[i].id)}}">
                        <img src="{{ url_for('static', filename='img/logo-lce.png') }}"/>
                        <h1>Reset {{ resets[i].id }}</h1> 
                        <h4>Inicio: {{ resets[i].fechaInicio }}</h4>       
                        <br>                 
                        {% if resets[i].fechaFin == None %}
                            <h4>Final: Desconocida</h4>
                        {% else %}
                            <h4>Final: {{ resets[i].fechaFin }}</h4>
                        {% endif %}
                        </h4>
                    </a>                    
                </td>            
                {% if i % 3 == 0 and i != 0 %}
            </tr>
            <tr>
                {% endif %}
                {% endfor %}        

                {% if datosDt.admin == true or datosDt.pO == true%}                                
                <td>
                    <a class='contenedorBotonGenerico' href="{{url_for('crearReset')}}">                        
                        <h1>+ Nuevo reset</h1>                                                
                    </a>
                </td> 
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}