{% extends "index.html" %}
{% block title %}Partido{% endblock %}
{% block content %}
<div class="contenedorGenerico">
    <form action="{{url_for('editandoPartido', idTemporada=partido.idTemporada)}}" method="POST">
        <div class="contenedorVistaPartido">
            <input type="hidden" value="{{partido.id}}" name="idPartido">
            <li>
                <ul>
                    <h1>Temporada {{partido.idTemporada}}</h1>
                                   
                    <h2>fecha:</h2>
                    <input type="number" name="fechaPartido" placeholder="Fecha del partido" value="{{partido.fecha}}">
                    <br>
                    <h2>fase:</h2>
                    <input type="text" name="fasePartido" placeholder="Fase del partido" value="{{partido.fase}}">
                </ul>
            </li>
            

            <img src="{{ url_for('static', filename='img/logo-lce.png') }}" , id="escudoPartidoLocal" />

            <img src="{{ url_for('static', filename='img/logo-lce.png') }}" , id="escudoPartidoVisitante" />
            <!--CONTENEDOR MARCADOR-->
            <div class="equipoLocal">
                <h3>Equipo Local</h1>
                    <select title="Equipo Local" name="selectorLocal">
                                            
                        {% for i in range (0, listaEquipos|count) %}
                            {% if partido.equipoLocal.id == listaEquipos[i].id %}
                                <option value="{{listaEquipos[i].id}}" selected>{{listaEquipos[i].nombre}}</option>
                            {% else %}
                                <option value="{{listaEquipos[i].id}}">{{listaEquipos[i].nombre}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <h3>Dt</h1>
                        <select title="DT equipo local" name="selectorDTLocal">
                            {% for i in range (0, listaTecnicos|count) %}
                                {% if listaTecnicos[i].id == partido.equipoLocal.tecnico.id %}
                                    <option value="{{listaTecnicos[i].id}}" selected>{{listaTecnicos[i].nombre}}
                                        {{listaTecnicos[i].apellido}}</option>
                                {% else %}
                                    <option value="{{listaTecnicos[i].id}}">{{listaTecnicos[i].nombre}}
                                        {{listaTecnicos[i].apellido}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
            </div>            
            <div class="marcador">
                <input type="hidden" id="contadorGolesLocal" name="contadorGolesLocal" value="0">
                <input type="hidden" id="contadorGolesVisitante" name="contadorGolesVisitante" value="0">
                <h1 id="marcador" >0 - 0</h1>
            </div>
            <div class="equipoVisitante">
                <h3>Equipo Visitante</h1>
                    <select title="Equipo visitante" name="selectorVisitante">

                        {% for i in range (0, listaEquipos|count) %}
                            {% if partido.equipoVisitante.id == listaEquipos[i].id %}
                                <option value="{{listaEquipos[i].id}}" selected>{{listaEquipos[i].nombre}}</option>
                            {% else %}
                                <option value="{{listaEquipos[i].id}}">{{listaEquipos[i].nombre}}</option>
                            {% endif %}
                        {% endfor %}                    
                    </select>
                    <h3>Dt</h1>
                        <select title="DT equipo visitante" name="selectorDTVisitante">
                            {% for i in range (0, listaTecnicos|count) %}
                                {% if listaTecnicos[i].id == partido.equipoVisitante.tecnico.id %}
                                    <option value="{{listaTecnicos[i].id}}" selected>{{listaTecnicos[i].nombre}}
                                        {{listaTecnicos[i].apellido}}</option>
                                {% else %}
                                    <option value="{{listaTecnicos[i].id}}">{{listaTecnicos[i].nombre}}
                                        {{listaTecnicos[i].apellido}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
            </div>

            <!--CONTENEDOR ESTADISTICAS-->
            <div id="estadisticasLocal">
                <div class="botonesAñadirEstadisticas">
                    <ul>

                        <li><input type="button" onclick="botonGol(true, true)" value="Gol+"></li>
                        <li><input type="button" onclick="botonGol(true, false)" value="Gol-"></li>
                    </ul>

                    <ul>
                        <li><label>Amarillas</label></li>
                        <li><input type="number" name="cantidadAmarillasLocal" class="cajaAmarillas" placeholder="Cantidad amarillas" value="{{partido.amarillasLocal}}"></li>
                    </ul>
                        
                    <ul>
                        <li><label>Rojas</label></li>
                        <li><input type="number" name="cantidadRojasLocal" class="cajaRojas" placeholder="Cantidad rojas" value="{{partido.rojasLocal}}"></li>
                    </ul>
                </div>


            </div>

            <!--TODO ARREGLAR LOS SELECTORES DE JUGADORES-->

            <div id="estadisticasVisitante">
                <div class="botonesAñadirEstadisticas">
                    <ul>
                        <li><input type="button" onclick="botonGol(false, true)" value="Gol+"></li>
                        <li><input type="button" onclick="botonGol(false, false)" value="Gol-"></li>                        
                    </ul>

                    <ul>
                        <li><label>Amarillas</label></li>
                        <li><input type="number" name="cantidadAmarillasVisitante" class="cajaAmarillas" placeholder="Cantidad amarillas" value="{{partido.amarillasVisitante}}"></li>
                    </ul>
                        
                    <ul>
                        <li><label>Rojas</label></li>
                        <li><input type="number" name="cantidadRojasVisitante" class="cajaRojas"  placeholder="Cantidad rojas" value="{{partido.rojasVisitante}}"></li>
                    </ul>
                </div>

            </div>

            <input type="submit" class="botonGuardarPartido" value="Guardar partido">
        </div>
    </form>
    <script>
        window.onload = textoTarjetas("cajaAmarillas");
        window.onload = textoTarjetas("cajaRojas");
        {% for i in range(0, partido.golesLocal|count) %}
            window.onload = golAlMarcador(true, true);
        {% endfor %}

        {% for i in range(0, partido.golesVisitante|count) %}
            window.onload = golAlMarcador(false, true);
        {% endfor %}
    
        </script>
    
    
    
</div>

{% endblock %}