{% extends "index.html" %}
{% block title %}Partidos temporada{% endblock %} 
{% block content %}
<h1 id="tituloTemporada">Temporada: {{"'Inserte número de temporada'"}}</h1>
<div class="contenidoTemporada">
  <!--CONTENEDOR TABLA-->
  <div id="contenedorTabla">
    <h1>Clasificación</h1>
    <table id="tablaTemporada">
      <thead>
        <!--Cabeza tabla-->
        <tr>
          <th></th>
          <th>Club</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>DG</th>
          <th>%</th>
          <th>PT</th>
        </tr>
      </thead>
      <tbody>
        <!--Cuerpo tabla-->
        {% for i in range (1,14+1) %} 
        {% set primaryColor = NONE %} 
        {% set secondaryColor = NONE %} 
        {% if i <= 8 %} 
        {% set primaryColor = '#9A6C00' %} 
        {% set secondaryColor = '#FFB400' %} 
        {% endif %} 
        {% if i > 8 %} 
        {% set primaryColor = '#444444' %}
        {% set secondaryColor = '#848484' %} 
        {% endif %}
        <tr>
          <td style="background-color: {{ primaryColor }};">{{i}}</td>
          <td
            id="equipoYEscudoTabla"
            style="background-color: {{ secondaryColor }};"
          >
            Equipo {{i}}
          </td>
          <td style="background-color: {{ primaryColor }};">14</td>
          <td style="background-color: {{ secondaryColor }};">8</td>
          <td style="background-color: {{ primaryColor }};">3</td>
          <td style="background-color: {{ secondaryColor }};">3</td>
          <td style="background-color: {{ primaryColor }};">20</td>
          <td style="background-color: {{ secondaryColor }};">10</td>
          <td style="background-color: {{ primaryColor }};">10</td>
          <td style="background-color: {{ secondaryColor }};">64.3</td>
          <td style="background-color: {{ primaryColor }};">27</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!--CONTENEDOR FECHAS-->
  <div id="contenedorFechas">
    <h1>Partidos</h1>

    <!--CONTENEDOR SELECTOR FECHAS-->
    <select id="selectorFechas" name="seelctorFechas">
      <option value="Fecha1"><h1>Fecha 1</h1></option>
      {% for i in range(0,13) %}
      <option value="Fecha{{i+2}}"><h1>Fecha {{i+2}}</h1></option>
      {% endfor %}
    </select>
    {% set grdc = 1 %} 
    <div id="contenedorPartidos">
      <!--CONTENEDOR POR PARTIDO-->
             
      {% for i in range (0,13) %}         

      <div class="contenedorPartido">
        <div class="equipo">
          <img src="{{ url_for('static', filename='img/escudo.png') }}"alt=""/>
          <p>Equipo 1 {{grdc}}</p>
        </div>
        <div class="resultado">
          <p>2 - 1</p>
          <p>Final</p>
        </div>
        <div class="equipo">
          <img
            src="{{ url_for('static', filename='img/escudo.png') }}"
            alt=""
          />
          <p>Equipo 2</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
