{% extends "index.html" %}
{% block title %}Temporada {{idTemporada}}{% endblock %}
{% block content %}
<h1 id="tituloTemporada">Temporada: {{idTemporada}}</h1>
<div class="contenidoTemporada">
  <!--CONTENEDOR TABLA-->
  <div id="contenedorTabla">
    <h1>Clasificación</h1>
    <div style="margin-top: 20px;">
      <h3>Equipos que pasan:</h3>
      <input type="number" />
    </div>
    <table id="tablaTemporada">
      <thead>
        <!--Cabeza tabla-->
        <tr>
          <th></th>
          <th></th>
          <th>Club</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>DG</th>
          <th>%</th>
          <th>PT</th>
        </tr>
      </thead>
      <tbody>
        <!--Cuerpo tabla-->
        {% for i in range (0, listaEquipos|count) %}
        {% set primaryColor = NONE %}
        {% set secondaryColor = NONE %}
        {% if i < 8 %} {% set primaryColor='#9A6C00' %} {% set secondaryColor='#FFB400' %} {% endif %} {% if i>= 8 %}
          {% set primaryColor = '#444444' %}
          {% set secondaryColor = '#848484' %}
          {% endif %}
          <tr>
            <td><button id="botonBorrarEquipo">Borrar</button></td>
            <td style="background-color: {{ primaryColor }};">{{i+1}}</td>

            <td id="equipoYEscudoTabla" style="background-color: {{ secondaryColor }};">{{listaEquipos[i].equipo.nombre}}</td>

            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].partidosJugados}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].partidosGanados}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].partidosEmpatados}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].partidosPerdidos}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].golesFavor}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].golesContra}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].diffGoles}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].rendimiento}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].puntos}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <!--CONTENEDOR FECHAS-->
  <div id="contenedorFechas">

    <!--ARREGLAR EL FUNCIONAMIENTO DE LAS FECHAS-->
    <!--CONTENEDOR SELECTOR FECHAS-->
    <div class="contenedorBotones">

      <a href="{{ url_for('playoffs', codigo=codigo) }}"><button style="width: 150px;">Play-Offs</button></a>
      <button style="width: 150px;">Progress</button>
      <button style="width: 150px;">Copa</button>
    </div>

    <h1>Partidos</h1>
    <select id="selectorFechas" name="selctorFechas">
      {% for i in range(0, cantFechas) %}
      <option value="Fecha{{i+1}}">
        <h1>Fecha {{i+1}}</h1>
      </option>
      {% endfor %}
    </select>
    {% set grdc = 1 %}
    <div id="contenedorPartidos">
      <!--CONTENEDOR POR PARTIDO-->

      {% for i in range (0, listaPartidos|count) %}

      <a href="{{ url_for('partido', idTemporada=idTemporada, idPartido=listaPartidos[i].id) }}">
        <div class="contenedorPartido">
          <div class="equipo">
            <!-- TODO CORREGIR IMAGENES DE ESCUDOS-->
            <img src="{{ url_for('static', filename='img/escudo.png') }}" alt="" />
            <h4>{{listaPartidos[i].equipoLocal.nombre}}</h4>
          </div>
          <div class="resultado">
            <h4>{{listaPartidos[i].resultado}}</h4>
          </div>
          <div class="equipo">
            <img src="{{ url_for('static', filename='img/escudo.png') }}" alt="" />
            <h4>{{listaPartidos[i].equipoVisitante.nombre}}</h4>
          </div>
        </div>
      </a>

      {% endfor %}
      {# TODO ARREGLAR ESTE BOTON #}
      {# CODIGO PARA AGREGAR PARTIDO #}
      {% if not((listaEquipos|count) / 2 <= listaPartidos|count) %} 
      <h1>{{listaEquipos|count / 2}}</h1>
      <h1>{{listaPartidos|count}}</h1>
      <a href="{{ url_for('crearPartido', idTemporada=idTemporada) }}">
        <div class="contenedorPartido">
          <h3>+ Agregar Partido</h3>
        </div>
      {% endif %}
      </a>
    </div>
  </div>
</div>


{% endblock %}