{% extends "index.html" %}
{% block title %}Temporada {{idTemporada}}{% endblock %}
{% block content %}
<h1 id="tituloTemporada">Temporada: {{idTemporada}}</h1>
<div class="contenidoTemporada">
  <!--CONTENEDOR TABLA-->
  <div id="contenedorTabla">
    <h1>Clasificación</h1>
    <div style="margin-top: 20px;">
      <h3>Equipos que pasan:</h3>
      <input type="number" />
    </div>
    <table id="tablaTemporada">
      <thead>
        <!--Cabeza tabla-->
        <tr>
          <th></th>
          <th></th>
          <th>Club</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>DG</th>
          <th>%</th>
          <th>PT</th>
        </tr>
      </thead>
      <tbody>
        <!--Cuerpo tabla-->
        {% for i in range (0, listaEquipos|count) %}
        {% set primaryColor = NONE %}
        {% set secondaryColor = NONE %}
        {% if i < 8 %} {% set primaryColor='#9A6C00' %} {% set secondaryColor='#FFB400' %} {% endif %} {% if i>= 8 %}
          {% set primaryColor = '#444444' %}
          {% set secondaryColor = '#848484' %}
          {% endif %}
          <tr>
            <td><button id="botonBorrarEquipo">Borrar</button></td>
            <td style="background-color: {{ primaryColor }};">{{i+1}}</td>

            <td id="equipoYEscudoTabla" style="background-color: {{ secondaryColor }};">{{listaEquipos[i].equipo.nombre}}</td>

            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].partidosJugados}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].partidosGanados}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].partidosEmpatados}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].partidosPerdidos}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].golesFavor}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].golesContra}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].diffGoles}}</td>
            <td style="background-color: {{ secondaryColor }};">{{listaEquipos[i].rendimiento}}</td>
            <td style="background-color: {{ primaryColor }};">{{listaEquipos[i].puntos}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <!--CONTENEDOR FECHAS-->
  <div id="contenedorFechas">

    <!--TODO ARREGLAR EL FUNCIONAMIENTO DE LAS FECHAS-->
    <!--CONTENEDOR SELECTOR FECHAS-->
    <div class="contenedorBotones">

      <a href="{{ url_for('playoffs', codigo=codigo) }}"><button style="width: 150px;">Play-Offs</button></a>
      <button style="width: 150px;">Progress</button>
      <button style="width: 150px;">Copa</button>
    </div>

    <h1>Partidos</h1>
    <select id="selectorFechas" name="selctorFechas" title="Selector de fechas" onchange="cambiarFechasTemporada(this.options[this.selectedIndex].value);">
      {% for i in range(1, cantFechas+1) %}

        {% if i == 1 %}
        <option value="{{i}}" selected>Fecha {{i}}</option>
        {% else %}
        <option value="{{i}}">Fecha {{i}}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% set grdc = 1 %}
    <div id="contenedorPartidos">
      <!--CONTENEDOR PARTIDOS: TODO ESTO ESTÁ EN JS POR LA FUNCION cargarPartidoTemporada-->
      
    </div>
  </div>
</div>
  <script>
    let listaJson = {{listaJson|tojson}};
    let partidosOptimos = {{cantPartidosOptimosPorFecha}};
    window.onload = cargarPartidosEnTemporada(1, {{cantPartidosOptimosPorFecha}});
  </script>


{% endblock %}